title StreamJunction
// Meta
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description", content="")
meta(name="author", content="")
// Latest compiled and minified CSS
link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
link(rel="stylesheet", href="/static/css/stream-junction.less")

block stylesheets
